.Courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    color: darkblue;
    text-decoration: none;
}

.Courses p {
    box-shadow: 2px 3px 20px pink;   
    border: .5px solid pink;
    margin: 10px;
    padding: 10px;
}

.Course {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 50px auto;
    width: 60%;
    align-self: center;
    background-color: pink;
    cursor: pointer;
}

.Course:hover {
    background-color: lightgreen;
}