.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    /* display: inline; */
    /* align-self: center; */
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    box-shadow: border-box;
}

/* .ContactData input {
    margin: 10px auto;
    width: 50%;
    height: 25px;
    text-align: center;
    display: inline;
    align-self: center;
    box-shadow: 1px 1px 0px #ccc;
    border: 1px solid lightgrey;
    display: block;
    
} */

.ContactData Button{
    border: 1px solid grey;
    text-align: center;
    padding: 10px;

}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;    
    }
}