.Order {
    width: 60%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    display: block;
}

.Order span {
    margin: auto 15px ;
    box-align: center;
    margin-left: 1px;
    display: inline-block;
    /* width: 30%; */
    text-transform: capitalize;
    border: 1px solid #ccc;
    padding: 5px;
}